backups/


LinguamonkeyFe/

PythonService/

backups/
backups-dbless/
db/

**/target/
**/build/
.git/
.idea/
.vscode/
node_modules/
*.log
out/

**/target/
**/.mvn/wrapper/
.idea/
.vscode/

**/.venv/
**/__pycache__/
*.pyc

*.log
.DS_Store