services:
  - type: web
    name: linguavietnameseapp
    runtime: docker
    region: singapore
    plan: free
    autoDeploy: true
    dockerContext: .
    dockerfilePath: ./LinguaVietnameseApp/Dockerfile
    healthCheckPath: /actuator/health/render
    initialDelaySeconds: 300
    healthCheckTimeoutSeconds: 30
    numInstances: 1
    envVars:
      - key: TZ
        value: Asia/Ho_Chi_Minh
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: PORT
        value: 10000
      - key: SERVER_PORT
        value: 10000
      - key: GRPC_SERVER_PORT
        value: 9091
      - key: GRPC_PORT
        value: 9091
      - key: DB_HOST
        fromDatabase:
          name: shared-postgres
          property: host
      - key: DB_PORT
        fromDatabase:
          name: shared-postgres
          property: port
      - key: DB_NAME
        fromDatabase:
          name: shared-postgres
          property: database
      - key: DB_USERNAME
        fromDatabase:
          name: shared-postgres
          property: user
      - key: DB_PASSWORD
        fromDatabase:
          name: shared-postgres
          property: password
      - key: SPRING_DATASOURCE_URL
        value: "jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}"
      - key: REDIS_HOST_INTERNAL
        fromService:
          type: redis
          name: redis
          property: host
      - key: SPRING_REDIS_HOST
        value: ${REDIS_HOST_INTERNAL}
      - key: REDIS_PORT
        fromService:
          type: redis
          name: redis
          property: port
      - key: REDIS_PASSWORD
        value: "redisPass123"
      - key: PYTHON_SERVICE_URL
        value: http://pythonservice:10000
      - key: APP_BACKEND_URL
        value: https://linguavietnameseapp-n0u9.onrender.com
      - key: PYTHON_GRPC_HOST
        value: pythonservice
      - key: PYTHON_GRPC_PORT
        value: 50051
      - key: GRPC_SERVER_ADDRESS
        value: 0.0.0.0
      - key: FIREBASE_CREDENTIALS_BASE64
        value: |
          ewogICJ0eXBlIjogInNlcnZpY2VfYWNjb3VudCIsCiAgInByb2plY3RfaWQiOiAibW9ua2V5bGluZ3VhLTEwMDkiLAogICJwcml2YXRlX2tleV9pZCI6ICI1YjlhNDZiZjFmNGMyNmY5Y2FkNzg4Zjc0YzM0NjQ5ODFiMmYxMTAzIiwKICAicHJpdmF0ZV9rZXkiOiAiLS0tLS1CRUdJTiBQUklW...
      - key: GDRIVE_KEY_BASE64
        value: |
          ewogICJ0eXBlIjogInNlcnZpY2VfYWNjb3VudCIsCiAgInByb2plY3RfaWQiOiAibW9ua2V5bGluZ3VhLTQ3NjYwNyIsCiAgInByaXZhdGVfa2V5X2lkIjogIjBhNDAyZmE2OGQyNThlMTA1YjNhYjBhZGNjNDg0NDcxZmRkNTdlNmQiLAogICJwcml2YXRlX2tleSI6ICItLS0tLUJFR0lOIFBSSVZBVEUgS0V...
      - key: GOOGLE_CREDENTIALS_FILE_URL
        value: /app/config/service-account-key.json
      - key: GOOGLE_SERVICE_ACCOUNT_FILE_URL
        value: /app/config/gdrive-key.json
      - key: VNPAY_RETURN_URL_PATH
        value: /api/v1/transactions/vnpay-return
      - key: VNPAY_TMNCODE
        value: 9PKGCENK
      - key: VNPAY_HASHSECRET
        value: NULTZ2US42FOF2YUNNB506E02XQV134K
      - key: VNPAY_URL
        value: https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
      - key: STRIPE_API_KEY
        value: sk_test_51Rt1GiK4J6AVC7wy9H8RKaRG3qY6N9TnhcIHkVd7eDxcVM3xyeh9ZdynEfEdcQBe4ozHS0cfEaqvOM6JZXkHUPV2003YUKEFYK
      - key: STRIPE_WEBHOOK_SECRET
        value: whsec_u0PCrs1tLmoYcjPCraF1e0gfD7BaYQDH
      - key: JWT_SIGNER_KEY
        value: OtKDnKZOdVMFihrc7TPBadUSUyR4MlycBb/Jbr58wBnfLMmUPbWyQNJN08S0kJhE
      - key: JWT_KEY_ID
        value: lingua-key-v1
      - key: SPRING_JPA_HIBERNATE_DDL_AUTO
        value: none
      - key: GOOGLE_CLIENT_ID
        value: 15162814173-kdhjp4pthjlgpcnpsliq0dgh9284maco.apps.googleusercontent.com
      - key: GOOGLE_FOLDER_ID
        value: 1BrqsnQ5vF38phPAT-8XexbsNgIzVQXOe
      - key: PROD_CLOUDINARY_CLOUD_NAME
        value: du7euoczl
      - key: PROD_CLOUDINARY_API_KEY
        value: "737948733936564"
      - key: PROD_CLOUDINARY_API_SECRET
        value: vll0SvFG3NF_0YXo-NrlOusPkG8
      - key: MAIL_HOST
        value: smtp.gmail.com
      - key: MAIL_PORT
        value: "587"
      - key: MAIL_USERNAME
        value: quyen10924@gmail.com
      - key: MAIL_PASSWORD
        value: viyh woci sbrc ddle
      - key: EXAM_REMINDER_HOURS_BEFORE
        value: "24"
      - key: EXAM_REMINDER_REPEAT_DAYS
        value: "1"
      - key: TWILIO_ACCOUNT_SID
        value: VAc7bd935ea6f7e99c9396b5937e797ea2
      - key: TWILIO_AUTH_TOKEN
        value: ACbff92c92cf22146853ca99a75ff70082
      - key: TWILIO_FROM_PHONE_NUMBER
        value: +84373730397
      - key: GOOGLE_OAUTH_CLIENT_ID
        value: 691949892970-sifep58js9d5a79pfifs3ff471e34v5k.apps.googleusercontent.com
      - key: SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE
        value: 2048MB
      - key: SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE
        value: 2048MB
      - key: SERVER_TOMCAT_CONNECTION_TIMEOUT
        value: 120000
      - key: SERVER_ADDRESS
        value: "0.0.0.0"

  - type: web
    name: pythonservice
    runtime: docker
    region: singapore
    plan: free
    autoDeploy: true
    dockerContext: .
    dockerfilePath: ./PythonService/Dockerfile
    envVars:
      - key: TZ
        value: Asia/Ho_Chi_Minh
      - key: PORT
        value: 10000
      - key: HTTP_PORT
        value: 8001
      - key: MALLOC_ARENA_MAX
        value: "2"
      - key: DB_HOST
        fromDatabase:
          name: shared-postgres
          property: host
      - key: DB_PORT
        fromDatabase:
          name: shared-postgres
          property: port
      - key: DB_NAME
        fromDatabase:
          name: shared-postgres
          property: database
      - key: DB_USER
        fromDatabase:
          name: shared-postgres
          property: user
      - key: DB_PASSWORD
        fromDatabase:
          name: shared-postgres
          property: password
      - key: APP_DB_HOST
        value: ${DB_HOST}
      - key: APP_DB_NAME
        value: ${DB_NAME}
      - key: APP_DB_USER
        value: ${DB_USER}
      - key: APP_DB_PASS
        value: ${DB_PASSWORD}
      - key: REDIS_HOST
        fromService:
          type: redis
          name: redis
          property: host
      - key: REDIS_PORT
        fromService:
          type: redis
          name: redis
          property: port
      - key: REDIS_PASSWORD
        value: "redisPass123"
      - key: JAVA_SERVICE_URL
        value: http://linguavietnameseapp:10000
      - key: GRPC_PORT
        value: 50051
      - key: JAVA_GRPC_ADDRESS
        value: linguavietnameseapp:9091
      - key: AZURE_SPEECH_KEY
        value: 7CK8VzxiMbfR1PdEYlreoeM1fSYP8T34GfwakmGfqXr8XgvB9UJQJQQJ99BKAC3pKaRXJ3w3AAAYACOG93o3
      - key: AZURE_SPEECH_REGION
        value: eastasia
      - key: GOOGLE_API_KEY
        value: AIzaSyBxTgU1h5yfoYQFUUYN9ULpS5wDGdtJkOg
      - key: PUBLIC_KEY
        value: |
          -----BEGIN PUBLIC KEY-----
          MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1LNS9rOO1cg//uC3GXvur6HIw9HsDRsU6r+yyV/RjioHLLwasQByDTJhMZfvRJkMmZWKLxam+v8p9tyDLBRa/jm+LHrl37ZgRo3EnQeJvJRNWLr0Uahuqez8OLRXAKdydgZWf0B4fJxgN+RsSXP7vWNm6idJ0h32M7Obnd8iJDP0+MXdgy2pVd8PUAVFcmS/+7VLcWj1V0gDoMbHscN1kswUB8rykRF0m+v5l1jx4ldSX1eKeYoQdznRMjViUTkKuYf5vhTsApgbows5pzs46NxKcxxm2kHLDpa4TKexdSJX9ckDkFAA4Z5ohAwcDvMcwyn0BHJaxIjGtRRwQP+HOQIDAQAB
          -----END PUBLIC KEY-----
      - key: MINIO_ACCESS_KEY
        value: minioadmin
      - key: MINIO_SECRET_KEY
        value: minioadmin
      - key: MINIO_BUCKET_NAME
        value: media
      - key: MINIO_URL
        value: http://minio:9000
      - key: ELASTICSEARCH_HOST
        value: your-prod-elasticsearch-host
      - key: ELASTICSEARCH_PORT
        value: 9200
      - key: KAFKA_BOOTSTRAP_SERVERS
        value: your-prod-kafka-broker-1:9092,your-prod-kafka-broker-2:9092
      - key: KAFKA_CONSUMER_GROUP_ID
        value: python-profile-consumer
      - key: KAFKA_USER_PROFILE_TOPIC
        value: USER_PROFILE_UPDATES
    numInstances: 1

  - type: web
    name: kong
    runtime: docker
    region: singapore
    plan: free
    autoDeploy: true
    dockerContext: .
    dockerfilePath: ./Dockerfile.kong
    envVars:
      - key: PORT
        value: 8000
      - key: KONG_DATABASE
        value: "off"
      - key: KONG_DECLARATIVE_CONFIG
        value: /etc/kong/kong.yml
      - key: KONG_PROXY_LISTEN
        value: 0.0.0.0:8000
      - key: KONG_ADMIN_LISTEN
        value: 0.0.0.0:8003
      - key: KONG_PLUGINS
        value: bundled,rate-limiting,cors,request-transformer,proxy-cache
    numInstances: 1

  - type: redis
    name: redis
    region: singapore
    plan: free
    ipAllowList: []

databases:
  - name: shared-postgres
    region: singapore
    plan: free
    databaseName: linguaviet_db
    user: linguauser
    ipAllowList: []
