server:
  port: ${PORT:10000}
  address: 0.0.0.0
  tomcat:
    connection-timeout: 1200000
    accept-count: 100
    threads:
      max: 200
      min-spare: 10

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  servlet:
    multipart:
      max-file-size: 1024MB
      max-request-size: 1024MB

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
      ssl:
        enabled: false

  cache:
    type: redis

  elasticsearch:
    uris: http://${ELASTICSEARCH_HOST}:${ELASTICSEARCH_PORT}

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  quartz:
    job-store-type: memory
    scheduler-name: reminder-scheduler

# JWT
jwt:
  signer-key: ${JWT_SIGNER_KEY}
  expirationTime: 3600 # 1 gi·ªù
  header: Authorization
  key-id: ${JWT_KEY_ID}

# MinIO (Local S3)
minio:
  url: ${MINIO_URL}
  access-key: ${MINIO_ACCESS_KEY}
  secret-key: ${MINIO_SECRET_KEY}
  bucket-name: ${MINIO_BUCKET_NAME}

# Kafka
kafka:
  bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
  consumer:
    group-id: linguaviet-group
    auto-offset-reset: earliest
  producer:
    retries: 3
  user:
    profile:
      topic: USER_PROFILE_UPDATES
  chat:
    persistence:
      topic: CHAT_MESSAGE_PERSISTENCE

# External Services
vnpay:
  tmn-code: ${VNPAY_TMNCODE}
  hash-secret: ${VNPAY_HASHSECRET}
  url: ${VNPAY_URL}

stripe:
  api-key: ${STRIPE_API_KEY}
  webhook-secret: ${STRIPE_WEBHOOK_SECRET}

twilio:
  account-sid: ${TWILIO_ACCOUNT_SID}
  auth-token: ${TWILIO_AUTH_TOKEN}
  from-phone-number: ${TWILIO_FROM_PHONE_NUMBER}
  verify-service-sid: ${TWILIO_VERIFY_SERVICE_SID}

google:
  credentials-file-url: ${GOOGLE_CREDENTIALS_FILE_URL}
  oauth:
    client-secret: ${GOOGLE_OAUTH_CLIENT_SECRET}
    refresh-token: ${GOOGLE_OAUTH_REFRESH_TOKEN}
    client-id: 691949892970-sifep58js9d5a79pfifs3ff471e34v5k.apps.googleusercontent.com
  drive:
    folderId: ${GOOGLE_FOLDER_ID}
    serviceAccountKey: ${GOOGLE_CREDENTIALS_FILE_URL}

grpc:
  server:
    port: ${GRPC_PORT:9091}
    address: 0.0.0.0
  client:
    learning-service:
      address: "static://${PYTHON_GRPC_HOST}:${PYTHON_GRPC_PORT}"
      negotiation-type: plaintext

# Reminder
exam:
  reminder:
    hours-before: ${EXAM_REMINDER_HOURS_BEFORE}
    repeat-days: ${EXAM_REMINDER_REPEAT_DAYS}

cloudinary:
  cloud_name: ${PROD_CLOUDINARY_CLOUD_NAME}
  api_key: ${PROD_CLOUDINARY_API_KEY}
  api_secret: ${PROD_CLOUDINARY_API_SECRET}

management:
  health:
    probes:
      enabled: true
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always
      groups:
        render:
          include: diskSpace, ping
          exclude: mail, redis, db, datastore, kafka, elasticsearch
          show-components: always

# Logging
logging:
  level:
    root: INFO
    org.springframework: WARN
    com.connectJPA.LinguaVietnameseApp: DEBUG
    org.hibernate.SQL: DEBUG
    com.google.auth: DEBUG
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"
vip:
  price:
    monthly: 9.99
    yearly: 99.99
coin:
  exchange:
    rate: 1000
app:
  backend:
    url: ${APP_BACKEND_URL}
  system:
    token: monkeylingua
