# Python
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Môi trường / IDE
.idea/
.vscode/
*.swp
*.swo

# Build/Dist artifacts
build/
dist/
*.egg-info/
wheels/

# Git
.git/
.gitignore
.gitattributes

# Credentials / Logs
.env
*.env
*.log

# Test
.pytest_cache/
.tox/